[Unit]
Description=RAAST simulation Compose project
Requires=docker.service
After=docker.service network-online.target
RequiresMountsFor=/backupfiles

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/backupfiles/raastdemo
ExecStartPre=/usr/bin/mountpoint -q /backupfiles
ExecStart=/usr/bin/docker compose --env-file .env -f compose.yaml up -d --wait
ExecStop=/usr/bin/docker compose --env-file .env -f compose.yaml stop
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
